
        body {
            background-color: rgb(167, 142, 142);
        }
        p {
            color:rgb(255, 0, 0);
            background-color: rgb(186, 175, 175);
            width: 300px;
        }

        .deux {
            background-color: rgb(0, 0, 0);
        }
    

        img{
            height:100px;
            /*width:400px;*/
            border-style: solid;
            border-width:4px ;
            border-color: white;
            border-radius: 10px;
        }