
        body {
            background-color: aqua;
        }
        p {
            color:rgb(255, 255, 255);
            background-color: rgb(0, 0, 0);
        }

        .deux {
            background-color: rgb(68, 62, 62);
        }
    